[Unit]
Description=Social Counter Service
After=network.target

[Service]
ExecStart=/home/pi/social-counter/start.sh   #Change "Pi" to actual user name
WorkingDirectory=/home/pi/social-counter     #Change "Pi" to actual user name
User=pi                                      #Change "Pi" to actual user name
Restart=always

[Install]
WantedBy=multi-user.target
